td {
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.top-left {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.top-middle {
    border-bottom: 2px solid black;
}
.top-right {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.middle-left {
    border-right: 2px solid black;
}
.middle-middle {

}
.middle-right {
    border-left: 2px solid black;
}

.bottom-left {
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.bottom-middle {
    border-top: 2px solid black;
}
.bottom-right {
    border-top: 2px solid black;
    border-left: 2px solid black;
}